.venv
__pycache__
*.pyc
node_modules
.git
.github
frontend/static/tenants/*
backend/logs/*
backend/data/*
backend/artifacts/*
tests/**
docs/**
deployment/**
*.db
*.sqlite
docker-compose*.yml
podman-compose*.yml
README.md
